@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
body {
  font-family: "Epilogue", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 500;
  font-size: 1.125;
}

a {
  text-decoration: none;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
